src/main/xsd/ContractFinderSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="ArrayOfFullNotice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullNotice" type="FullNotice" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FullNotice">
        <xs:sequence>
            <xs:element name="Id" type="uuid" minOccurs="0"/>
            <xs:element name="Notice" type="Notice" minOccurs="0"/>
            <xs:element name="CreatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="LastUpdatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="Awards" type="AwardDetailParentType" minOccurs="0"/>
            <xs:element name="IsPublished" type="xs:boolean"/>
            <xs:element name="IsPreAwarded" type="xs:boolean"/>
            <xs:element name="Organisation" type="OrganisationType"/>
            <xs:element name="AdditionalDetails" type="AdditionalDetailsListType"/>
            <xs:element name="CpvCodes" type="CpvCodesDetailedType"/>
            <xs:element name="PublishedVersion" type="PublishedVersionDetailsType"/>
            <xs:element name="NumberOfViews" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Notice">
        <xs:sequence>
            <xs:element name="Id" type="uuid"/>
            <xs:element name="ParentIdentifier" type="uuid" nillable="true"/>
            <xs:element name="ContactDetails" type="ContactDetailsType"/>
            <xs:element name="Identifier" type="xs:string"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="CpvDescription" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Common Procurement Vocabulary description</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PublishedDate" type="xs:dateTime"/>
            <xs:element name="DeadlineDate" type="xs:dateTime"/>
            <xs:element name="ValueLow" type="xs:double" nillable="true"/>
            <xs:element name="ValueHigh" type="xs:double" nillable="true"/>
            <xs:element name="Postcode" type="xs:token" nillable="true"/>
            <xs:element name="Region" type="xs:token" nillable="true"/>
            <xs:element name="Nationwide" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Location" type="LocationType"/>
            <xs:element name="Start" type="xs:dateTime"/>
            <xs:element name="End" type="xs:dateTime"/>
            <xs:element name="Type" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Contract,
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CpvCodes" type="CpvCodesType"/>
            <xs:element name="Status" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Awarded,
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsSuitableForSme" type="xs:boolean"/>
            <xs:element name="IsSuitableForVco" type="xs:boolean"/>
            <xs:element name="SupplyChain" type="xs:boolean"/>
            <xs:element name="LastNotifiableUpdate" type="xs:dateTime" nillable="true"/>
            <xs:element name="OrganisationName" type="xs:token"/>
            <xs:element name="Sector" type="xs:token" nillable="true"/>
            <xs:element name="ProcedureType" type="xs:token" nillable="true"/>
            <xs:element name="ProcedureTypeOther" type="xs:token" nillable="true"/>
            <xs:element name="ProcedureAcceleratedJustification" type="xs:string" nillable="true"/>
            <xs:element name="OjeuContractType" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Services, Products
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsFrameworkAgreement" type="xs:boolean"/>
            <xs:element name="IsExtensionPossible" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="uuid">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>

    <xs:complexType name="ContactDetailsType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" nillable="true"/>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
            <xs:element name="Address1" type="xs:string" minOccurs="0"/>
            <xs:element name="Address2" type="xs:string" nillable="true"/>
            <xs:element name="Town" type="xs:string" minOccurs="0"/>
            <xs:element name="Postcode" type="xs:string" minOccurs="0"/>
            <xs:element name="Country" type="xs:string" nillable="true"/>
            <xs:element name="Phone" type="xs:string" nillable="true"/>
            <xs:element name="WebAddress" type="xs:string" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocationType">
        <xs:sequence>
            <xs:element name="Lat" type="xs:float"/>
            <xs:element name="Lon" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CpvCodesType">
        <xs:sequence>
            <xs:element name="string" minOccurs="0" maxOccurs="unbounded" type="xs:token"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwardDetailParentType">
        <xs:sequence>
            <xs:element name="AwardDetail" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Id" type="xs:token"/>
                        <xs:element name="NoticeId" type="uuid"/>
                        <xs:element name="ParentId" type="uuid" nillable="true"/>
                        <xs:element name="Value" type="xs:long"/>
                        <xs:element name="SupplierName" type="xs:token"/>
                        <xs:element name="SupplierAddress" type="xs:string"/>
                        <xs:element name="Contact" type="xs:string" nillable="true"/>
                        <xs:element name="ReferenceType" type="ReferenceTypeE"/>
                        <xs:element name="Reference" type="xs:token"/>
                        <xs:element name="StartDate" type="xs:dateTime"/>
                        <xs:element name="EndDate" type="xs:dateTime"/>
                        <xs:element name="AwardedDate" type="xs:dateTime"/>
                        <xs:element name="AwardedProcedureType" type="xs:token">
                            <xs:annotation>
                                <xs:documentation>
                                    Other, CallOffFromFrameworkAgreement
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="AwardedProcedureTypeOther" type="xs:token" nillable="true"/>
                        <xs:element name="AwardedProcedureAcceleratedJustification" type="xs:string" nillable="true"/>
                        <xs:element name="AnnexDOptionType" type="xs:token" nillable="true"/>
                        <xs:element name="AdditionalDetail" type="xs:string" nillable="true"/>
                        <xs:element name="AwardedToSME" type="xs:boolean"/>
                        <xs:element name="AwardedToVCSO" type="xs:boolean"/>
                        <xs:element name="AwardGuid" type="uuid"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ReferenceTypeE">
        <xs:restriction base="xs:token">
            <xs:enumeration value="COMPANIES_HOUSE"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="NONE_OTHER"/>
            <xs:enumeration value="NONE_SOLE_TRADER"/>
            <xs:enumeration value="NONE_PARTNERSHIP"/>
            <xs:enumeration value="CHARITY_COMMISSION"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AwardedProcedureTypeE">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OrganisationType">
        <xs:sequence>
            <xs:element name="Name" type="xs:token"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdditionalDetailsType">
        <xs:sequence>
            <xs:element name="Id" type="uuid"/>
            <xs:element name="NoticeId" type="uuid"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="DataType" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Link,
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Link" type="xs:token" minOccurs="0"/>
            <xs:element name="TextData" type="xs:string" nillable="true"/>
            <xs:element name="MimeType" type="xs:token" nillable="true"/>
            <xs:element name="AwardGuid" type="uuid" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CpvCodesDetailedType">
        <xs:sequence>
            <xs:element name="CpvCode" type="CpvCodeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CpvCodeType">
        <xs:sequence>
            <xs:element name="Code" type="xs:token"/>
            <xs:element name="Description" type="xs:token"/>
            <xs:element name="ParentCode" type="xs:token"/>
            <xs:element name="HasChildren" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PublishedVersionDetailsType">
        <xs:sequence>
            <xs:element name="PublishedNoticeVersion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ChangedByUser" type="xs:token"/>
                        <xs:element name="DateChanged" type="xs:dateTime"/>
                        <xs:element name="PublishedNoticeId" type="uuid"/>
                        <xs:element name="VersionNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalDetailsListType">
        <xs:sequence>
            <xs:element name="AdditionalDetail" type="AdditionalDetailsType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>