src/main/xsd/ContractFinderSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2021 PubCOI.org
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 3 of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.pubcoi.org/cf/ContractFinderSchema"
           xmlns:cf="http://schemas.pubcoi.org/cf/ContractFinderSchema"
           xmlns:bt="http://schemas.pubcoi.org/cf/BaseTypes"
           attributeFormDefault="qualified"
           elementFormDefault="qualified">

    <xs:import schemaLocation="BaseTypes.xsd" namespace="http://schemas.pubcoi.org/cf/BaseTypes"/>

    <xs:element name="ArrayOfFullNotice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FullNotice" type="cf:FullNotice" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FullNotice">
        <xs:sequence>
            <xs:element name="Id" type="bt:uuid" minOccurs="0"/>
            <xs:element name="Notice" type="cf:NoticeType" minOccurs="0"/>
            <xs:element name="CreatedByUser" type="xs:token" minOccurs="0"/>
            <xs:element name="CreatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="LastUpdatedByUser" type="xs:token" minOccurs="0"/>
            <xs:element name="LastUpdatedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="Awards" type="cf:AwardsType"/>
            <xs:element name="IsPublished" type="xs:boolean"/>
            <xs:element name="IsPreAwarded" type="xs:boolean"/>
            <xs:element name="Organisation" type="cf:OrganisationType"/>
            <xs:element name="AdditionalDetails" type="cf:AdditionalDetailsListType"/>
            <xs:element name="WithdrawnByUser" type="xs:token" minOccurs="0"/>
            <xs:element name="WithdrawnDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="WithdrawnReason" type="xs:token" minOccurs="0"/>
            <xs:element name="CpvCodes" type="cf:CpvCodeType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PublishedVersion" type="cf:PublishedNoticeVersion" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="NumberOfViews" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwardsType">
        <xs:sequence>
            <xs:element name="AwardDetail" type="cf:AwardDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:group name="NoticeBase">
        <xs:sequence>
            <xs:element name="Id" type="bt:uuid"/>
            <xs:element name="ParentId" type="bt:uuid" minOccurs="0"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="CpvDescription" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Common Procurement Vocabulary description</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PublishedDate" type="xs:dateTime"/>
            <xs:element name="DeadlineDate" type="xs:dateTime"/>
            <xs:element name="ApproachMarketDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ValueLow" type="xs:double" nillable="true"/>
            <xs:element name="ValueHigh" type="xs:double" nillable="true"/>
            <xs:element name="Postcode" type="xs:token" nillable="true"/>
            <xs:element name="IsSuitableForSme" type="xs:boolean"/>
            <xs:element name="IsSuitableForVco" type="xs:boolean"/>
            <xs:element name="NoticeType" type="xs:token" minOccurs="0"/>
            <xs:element name="NoticeStatus" type="xs:token" minOccurs="0"/>
            <xs:element name="Region" type="xs:token" nillable="true"/>
            <xs:element name="LastNotifiableUpdate" type="xs:dateTime" nillable="true"/>
            <xs:element name="OrganisationName" type="xs:token"/>
            <xs:element name="Sector" type="xs:token" nillable="true"/>
            <xs:element name="CpvCodes" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Start" type="xs:dateTime"/>
            <xs:element name="End" type="xs:dateTime"/>
        </xs:sequence>
    </xs:group>

    <xs:complexType name="NoticeIndex">
        <xs:sequence>
            <xs:group ref="cf:NoticeBase"/>
            <xs:element name="NoticeIdentifier" type="bt:uuid" nillable="true"/>
            <xs:element name="CpvDescriptionExpanded" type="xs:token" minOccurs="0"/>
            <xs:element name="AwardedDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="AwardedSupplier" type="xs:token" minOccurs="0"/>
            <xs:element name="Coordinates" type="xs:token" minOccurs="0"/>
            <xs:element name="IsSubNotice" type="xs:boolean" minOccurs="0"/>
            <xs:element name="AwardedToSme" type="xs:boolean" minOccurs="0"/>
            <xs:element name="AwardedToVcse" type="xs:boolean" minOccurs="0"/>
            <xs:element name="CpvCodesExtended" type="xs:token" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NoticeType">
        <xs:sequence>
            <xs:group ref="cf:NoticeBase"/>
            <xs:element name="ParentIdentifier" type="bt:uuid" nillable="true"/>
            <xs:element name="LinkReason" type="xs:string" minOccurs="0"/>
            <xs:element name="Version" type="xs:int" minOccurs="0"/>
            <xs:element name="ContactDetails" type="cf:ContactDetailsType"/>
            <xs:element name="Identifier" type="xs:string"/>
            <xs:element name="Nationwide" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Location" type="cf:LocationType"/>
            <xs:element name="Type" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Contract,
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Status" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Awarded,
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SupplyChain" type="xs:boolean"/>
            <xs:element name="ProcedureType" type="xs:token" nillable="true"/>
            <xs:element name="ProcedureTypeOther" type="xs:token" nillable="true"/>
            <xs:element name="ProcedureAcceleratedJustification" type="xs:string" nillable="true"/>
            <xs:element name="OjeuContractType" type="cf:OjeuContractTypeEnum"/>
            <xs:element name="IsFrameworkAgreement" type="xs:boolean"/>
            <xs:element name="IsExtensionPossible" type="xs:boolean"/>
            <xs:element name="AnnexDOption" type="xs:token" minOccurs="0"/>
            <xs:element name="ReasonContractLawful" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContactDetailsType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" nillable="true"/>
            <xs:element name="Email" type="xs:string" minOccurs="0"/>
            <xs:element name="Address1" type="xs:string" minOccurs="0"/>
            <xs:element name="Address2" type="xs:string" nillable="true"/>
            <xs:element name="Town" type="xs:string" minOccurs="0"/>
            <xs:element name="Postcode" type="xs:string" minOccurs="0"/>
            <xs:element name="Country" type="xs:string" nillable="true"/>
            <xs:element name="Phone" type="xs:string" nillable="true"/>
            <xs:element name="WebAddress" type="xs:string" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocationType">
        <xs:sequence>
            <xs:element name="Lat" type="xs:float"/>
            <xs:element name="Lon" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwardDetailType">
        <xs:sequence>
            <xs:element name="Id" type="xs:token"/>
            <xs:element name="NoticeId" type="bt:uuid"/>
            <xs:element name="ParentId" type="bt:uuid" nillable="true"/>
            <xs:element name="Value" type="xs:long"/>
            <xs:element name="SupplierName" type="xs:token"/>
            <xs:element name="SupplierAddress" type="xs:string"/>
            <xs:element name="Contact" type="xs:string" nillable="true"/>
            <xs:element name="DunsNumber" type="xs:token" minOccurs="0" nillable="true"/>
            <xs:element name="StartDate" type="xs:dateTime"/>
            <xs:element name="EndDate" type="xs:dateTime"/>
            <xs:element name="AwardedDate" type="xs:dateTime"/>
            <xs:element name="Reference" type="xs:token"/>
            <xs:element name="ReferenceType" type="cf:ReferenceTypeE"/>
            <xs:element name="AwardedProcedureType" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        Other, CallOffFromFrameworkAgreement
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AwardedProcedureTypeOther" type="xs:token" nillable="true"/>
            <xs:element name="AwardedProcedureAcceleratedJustification" type="xs:string" nillable="true"/>
            <xs:element name="AnnexDOptionType" type="xs:token" nillable="true"/>
            <xs:element name="ReasonContractLawful" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="AdditionalDetail" type="xs:string" nillable="true"/>
            <xs:element name="AwardedToSME" type="xs:boolean"/>
            <xs:element name="AwardedToVCSO" type="xs:boolean"/>
            <xs:element name="AwardGuid" type="bt:uuid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ReferenceTypeE">
        <xs:restriction base="xs:token">
            <xs:enumeration value="COMPANIES_HOUSE"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="NONE_OTHER"/>
            <xs:enumeration value="NONE_SOLE_TRADER"/>
            <xs:enumeration value="NONE_PARTNERSHIP"/>
            <xs:enumeration value="CHARITY_COMMISSION"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AwardedProcedureTypeE">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OrganisationType">
        <xs:sequence>
            <xs:element name="Name" type="xs:token"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdditionalDetailsListType">
        <xs:sequence>
            <xs:element name="AdditionalDetail" type="cf:AdditionalDetailType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdditionalDetailType">
        <xs:sequence>
            <xs:element name="Id" type="bt:uuid"/>
            <xs:element name="NoticeId" type="bt:uuid"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="DataType" type="xs:token"/>
            <xs:element name="TextData" type="xs:string" nillable="true"/>
            <xs:element name="Link" type="xs:token" minOccurs="0"/>
            <xs:element name="MimeType" type="xs:token" nillable="true"/>
            <xs:element name="Filename" type="xs:token" nillable="true"/>
            <xs:element name="FileContent" type="xs:byte" nillable="true"/>
            <xs:element name="AwardGuid" type="bt:uuid" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CpvCodeType">
        <xs:sequence>
            <xs:element name="Code" type="xs:token"/>
            <xs:element name="Description" type="xs:token"/>
            <xs:element name="ParentCode" type="xs:token"/>
            <xs:element name="HasChildren" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PublishedNoticeVersion">
        <xs:sequence>
            <xs:element name="ChangedByUser" type="xs:token"/>
            <xs:element name="DateChanged" type="xs:dateTime"/>
            <xs:element name="NoticeStatus" type="xs:token"/>
            <xs:element name="NoticeType" type="xs:token"/>
            <xs:element name="PublishedNoticeId" type="bt:uuid"/>
            <xs:element name="VersionNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="OjeuContractTypeEnum">
        <xs:annotation>
            <xs:documentation>
                https://www.contractsfinder.service.gov.uk/apidocumentation/ResourceModel?modelName=OjeuContractType
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="Works"/>
            <xs:enumeration value="Services"/>
            <xs:enumeration value="Products"/>
            <xs:enumeration value="NotApplicable"/>
            <xs:enumeration value="NotSpecified"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>